.windowScrollerWrapper {
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  margin: 16px;
  padding: 10px 24px 10px;
  box-sizing: border-box;
  background-color: #fff;

  * {
    outline: none !important;
  }

  .pendingContainer {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #e0e0e0;
  }
}

.reorderPending {
  border: 1px dashed #ccc;

  .renderer {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tableCell {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 4px 6px;
  height: 100%;
  z-index: 2;

  .renderer {
    cursor: pointer;
    font-size: 12px;
    color: #666;
  }

  .cellControls {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 5px;

    .sortContainer {
      display: flex;
      justify-content: flex-start;
      flex-grow: 1;
      flex-shrink: 0;
      min-width: 8px;
      cursor: pointer;
      height: 20px;

      .sortIcon {
        width: 10px;
        height: 10px;
        color: #ccc;
      }
    }

    .resizeContainer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-shrink: 0;
      width: 5px;
      margin-left: 1px;
      cursor: col-resize;

      &.disabled {
        cursor: default;

        .resizeIcon {
          border-right: 1px solid #e0e0e0;
        }
      }

      .resizeIcon {
        width: 1px;
        height: 20px;
        border-right: 2px dotted #e0e0e0;
        margin-right: 1px;
      }
    }

    .reorderContainer {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 20px;
      margin-left: 1px;
      cursor: move;

      .reorderIcon {
        display: none;
        width: 12px;
        height: 10px;
        background-color: #ccc;
      }
    }
  }

  &:hover {
    .reorderContainer {
      .reorderIcon {
        display: flex !important;
      }
    }
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:first-child {
    margin-left: 10px;
  }

  &:last-child {
    .resizeIcon {
      display: none;
    }
  }
}

.tableHeader {
  border-bottom: 2px solid #e0e0e0;
  user-select: none;
  background-color: #fff;
  z-index: 1;
  position: sticky;
  top: 0;
  padding-top: 10px;

  .tableRow {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .tableCell {
    .renderer {
      font-weight: 600;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      .renderer {
        color: #27a9e0;
      }
    }
  }
}

.tableBody {
  &.modifyActive {
    filter: blur(2px);
  }

  .tableRow {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;

    &:hover {
      background-color: #f9f9f9;
      cursor: pointer;
    }
  }
}
