.windowScrollerWrapper {
  flex: 1 1 auto;
  padding: 25px;
}

.table {
  border: 1px solid #e0e0e0;
}

.tableHeader {
  border-bottom: 2px solid #e0e0e0;
  user-select: none;
}

.tableRow {
  &.header {
    border-bottom: 2px solid #e0e0e0;
    font-size: 12px;
  }

  &:not(.header) {
    &:hover {
      background-color: #f9f9f9;
      cursor: pointer;
    }
  }
}

.tableCell {
  font-size: 14px;
  flex-shrink: 0;
  height: 100%;
  cursor: pointer;

  .cellContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;

    .resizeHandle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      cursor: col-resize;
      width: 8px;
      height: 100%;
      right: 0;

      .handle {
        height: 50%;
        width: 1px;
        border-right: 2px solid #e0e0e0;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &.header {
    .title {
      font-size: 12px;
      color: #666;
      text-transform: uppercase;
      font-weight: 700;
    }

    &:hover {
      .title {
        color: #27a9e0;
      }
    }
  }

  &:last-child {
    .resizeHandle {
      display: none;
    }
  }

  &:not(:last-child) {
    margin-right: 16px;
  }
}
