.windowScrollerWrapper {
  flex: 1 1 auto;
  padding: 25px;
}

.table {
  border: 1px solid #e0e0e0;
}

.tableHeader {
  border-bottom: 2px solid #e0e0e0;
}

.tableRow {
  &.header {
    border-bottom: 2px solid #ccc;
    font-size: 12px;
    padding: 0 16px;
  }

  &:not(.header) {
    &:hover {
      background-color: #f7f7f7;
      cursor: pointer;
    }
  }
}

.tableCell {
  font-size: 14px;
  flex-shrink: 0;

  &.header {
    font-size: 10px;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }
}
