.windowScrollerWrapper {
  display: block;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  margin: 16px;
  padding: 20px 24px;
}

.ReactVirtualized__Grid {
  outline: none;
}

.table {
  outline: none;
}

.tableHeader {
  border-bottom: 2px solid #e0e0e0;
  user-select: none;
}

.tableRow {
  border-bottom: 1px solid #e0e0e0;

  &.header {
    border-bottom: 2px solid #e0e0e0;
    font-size: 12px;
  }

  &:not(.header) {
    &:hover {
      background-color: #f9f9f9;
      cursor: pointer;
    }
  }
}

.tableCell {
  font-size: 14px;
  flex-shrink: 0;
  height: 100%;
  cursor: pointer;

  .cellContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;

    .title,
    .defaultText {
      user-select: none;
      flex-grow: 1;
      font-size: 14px;
      color: #666;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .reorderHandle {
      display: none;
      flex-shrink: 0;
      margin: 0 5px;
      align-items: center;
      justify-content: center;
      cursor: move;
      width: 12px;
      height: 100%;

      .dragIcon {
        width: 15px;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .resizeHandle {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: col-resize;
      width: 8px;
      height: 100%;

      .handle {
        height: 50%;
        width: 1px;
        border-right: 2px dotted #e0e0e0;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &.isStickToLeft,
  &.isStickToRight {
    .reorderHandle {
      display: none !important;
    }
  }

  &.header {
    .title {
      font-size: 12px;
      color: #666;
      font-weight: 700;
      text-transform: uppercase;
    }

    &:hover {
      .title {
        color: #27a9e0;
      }

      .reorderHandle {
        display: flex;
      }
    }
  }

  &:last-child {
    .resizeHandle {
      display: none;
    }
  }

  &:not(:last-child) {
    margin-right: 16px;
  }
}
